*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#section-logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 5px;
}

#section-logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#section-logo p{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 10px;
}

#section-logo p #adopte{
    color: rgba(136,168,41,255);
}

#section-logo p #un{
    color: rgb(197, 197, 40);
}

#section-logo p #compagnon{
    color: rgb(91, 151, 207);
}

#menu-nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(136,168,41,255);
    padding: 25px;
}

#menu-nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.contenu{
    background-image: url(../img/img_pattes.webp);
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

#msg-bienvenu h1{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#msg-bienvenu h2{
    text-align: center;
    padding-bottom: 15px;
}

.presentation-animal{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-color: rgba(136,168,41,255);
}

.presentation-animal h3{
    font-size: 25px;
    padding-bottom: 10px;
}

.presentation-animal img{
    height: 400px;
    width: 600px;
    padding-bottom: 10px;
}

.presentation-animal ul{
    list-style: none;
}

.presentation-animal li{
    font-size: 20px;
    padding-bottom: 5px;
}


form {
    max-width: 900px;
    padding-top: 20px;
    margin-left: 31%;
}

.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.field-container input,
textarea {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
}

.field-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70%;
    font-size: 20px;
}

.field-container button:hover {
    background-color: #45a049;
}

.field-container p {
    color: red;
    width: 30%;
}

.page-animal {
    text-align: center;
    font-weight: bold;
    background-image: url(../img/img_pattes.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.recherche form {
    display: flex;
    margin-left: 33%;
    margin-bottom: 20px;
}

.recherche form input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid grey;
}

.recherche input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: rgba(136,168,41,255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.recherche form input[type="submit"]:hover {
    background-color: rgba(136,168,41,200);
}

#erreur-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#erreur-404 img{
    width: 600px;
    height: 600px;
}

#erreur-404 h3, p{
    font-size: 20px;
}
