{% extends 'base.html' %}
{% block title %}Succes{% endblock %}
{% block content %}
<div id="msg-bienvenu">
    <h1>Merci! Votre animal a été mis en adoption avec succès</h1>
</div>

<hr>
<div class="presentation-adoption">
    <h3>Nom: {{ animal.nom }}</h3>
    <h3>Espèce: {{ animal.espece }}</h3>
    <h3>Race: {{ animal.race }}</h3>
    <h3>Âge: {{ animal.age }}</h3>
    <h3>Description: {{ animal.description }}</h3>
    <h3>Courriel: <a href="mailto:{{ animal.courriel }}">{{ animal.courriel }}</a></h3>
    <h3>Adresse: {{ animal.adresse }}</h3>
    <h3>Ville: {{ animal.ville }}</h3>
    <h3>Code Postal: {{ animal.cp }}</h3>
</div>
{% endblock %}