{% extends 'base.html' %}
{% block title %}Informations{% endblock %}
{% block content %}
<div id="msg-bienvenu">
<h1>Voici les informations concernant {{animal.nom}} : </h1>
</div>
<div class="presentation-adoption">
<h3>Nom : {{animal.nom}}</h3>
<ul>
    <li>Espèce : {{animal.espece}}</li>
    <li>Race : {{animal.race}}</li>
    <li>Âge : {{animal.age}}</li>
    <li>Description : {{animal.description}}</li>
    <li>Adresse : {{animal.adresse}}</li>
    <li>Ville : {{animal.ville}}</li>
    <li>Code Postal : {{animal.cp}}</li>
    <li>Pour rejoindre le propriétaire, voici son adresse courriel : <a href="mailto:{{animal.courriel}}">{{animal.courriel}}</a></li>
</ul>
</div>
{% endblock %}