{% extends 'base.html' %}
{% block title %}Resultats de la recherche{% endblock %}
{% block content %}
<div id="msg-bienvenu">
    <h1>Resultats de la recherche</h1>
</div>
{% for animal in resultats %}
<div class="presentation-animal">
<h3>Nom : {{animal.nom}}</h3>
<ul>
    <li>Espèce : {{animal.espece}}</li>
    <li>Race : {{animal.race}}</li>
    <li>Âge : {{animal.age}}</li>
    <li>Description : {{animal.description}}</li>
    <li><a href="{{ url_for('animal', id=animal.id) }}">Cliquer ici pour en savoir plus sur {{animal.nom}}!</a></li>
</ul>
</div>
{% endfor %}
{% endblock %}